@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap"); */

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  transition: all 0.2ms;
  /* @apply bg-white dark:bg-gray-950; */
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
