---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/Home.tsx";
import axios from "axios";

const res = await axios.get("http://api.alquran.cloud/v1/surah");
const data = await res.data.data;
---

<Layout title="Welcome to Astro.">
  <main>
    <Home data={data} />
  </main>
</Layout>

<style></style>
