@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
  transition:
    opacity 100ms ease,
    transform 100ms ease,
    border-radius 100ms ease,
    left 100ms ease;
}

body {
  @apply bg-gradient-to-br from-gray-700 via-gray-900 to-black;
}

.fade-up {
  opacity: 0;
  transform: scale(0);
  border-radius: 50%;
  animation: fade-up linear forwards;
  animation-timeline: view();
  /* animation-range: 250px 500px; */
  animation-range: entry 50px;
}

@keyframes fade-up {
  to {
    opacity: 1;
    border-radius: 0%;
    transform: scale(1);
  }
}

.text-squise {
  color: white;
  left: -100px;
  animation: text-squise linear forwards;
  animation-timeline: view();
  animation-range: entry 50px;
}

@keyframes text-squise {
  to {
    left: 0px;
  }
}
