@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik", sans-serif;
  transition:
    opacity 100ms ease,
    width 100ms ease,
    transform 100ms ease,
    border-radius 100ms ease;
}

body {
  @apply bg-gradient-to-br from-gray-700 via-gray-900 to-black;

  overflow: hidden;
  overflow-y: scroll;
}

#fade-up {
  opacity: 0;
  transform: scale(0);
  border-radius: 50%;
  animation: fade-up linear forwards;
  animation-timeline: view();
  /* animation-range: 250px 500px; */
  animation-range: entry 50px;
}

@keyframes fade-up {
  to {
    opacity: 1;
    border-radius: 1%;
    transform: scale(1);
  }
}

#indicator {
  width: 100%;
  transform: scaleX(0);
  animation: indicator linear;
  transform-origin: left;
  animation-timeline: scroll();
}

@keyframes indicator {
  to {
    transform: scaleX(1);
  }
}
